@charset "UTF-8";

@import "variable.css";

@import "reset.css";

@import "login.css";

@import "nav.css";

@import "loginNav.css";

body {
	min-height: 100%;
	background-color: rgb(239, 239, 239);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

#loginBody {
	background-color: white;
}

#main-screen {
	display: flex;
	margin-top: 60px;
	min-height: 75vh;
}

.main {
	min-height: 585px;
	width: 60%;
	margin-left: 15%;
	padding: 50px;
	background-color: white;
}

.recommend-container {
	width: 20%;
}

.recommend__box {
	position: fixed;
	margin: 10px;
	width: 280px;
	height: 400px;
	background-color: white;
}

.recommend__display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.recommend__title {
	margin: 10px;
	font-weight: bold;
	font-size: x-large;
}

.recommend__list__item {
	margin: 20px;
}

.main__resultBox {
	display: flex;
	background-color: white;
	border: none;
	border-bottom: 1px solid var(--gray);
	height: 200px;
}

.main__resultBox .main__resultBox__column:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 100%;
}

.main__resultBox__column:nth-child(2) {
	width: 60%;
	height: 100%;
}

.main__resultBox__column:last-child {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 15%;
	height: 100%;
	font-size: 10px;
}

.main__resultBox__title {
	margin-top: 30px;
	font-size: 20px;
	font-weight: bolder;
	border-bottom: 1px solid var(--gray);
}

.main__resultBox__reserv {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: end;
	align-items: end;
	margin-bottom: 10px;
	font-weight: bolder;
}

.main__resultBox__category {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
	font-weight: bolder;
	color: var(--gray);
}

.main__detailBox {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 1200px;
}

.main__detailBox__column:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40%;
}

.main__detailBox__column:nth-child(2) {
	display: flex;
	flex-direction: column;
	height: 15%;
	padding: 10px;
}

.main__detailBox__title {
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

.main__detailBox__category {
	margin: 10px;
	text-align: right;
	font-weight: bolder;
	padding: 10px;
	border-bottom: 2px solid var(--gray);
}

.main__detailBox__elements {
	display: flex;
	height: 100%;
	padding: 10px;
}

.main__myInfo {
	display: flex;
}

.main__myInfo__column:first-child {
	width: 40%;
}

.main__myInfo__column:last-child {
	width: 60%;
	padding: 10px;
}

.main__changeInfo {
	display: flex;
	margin: 10px;
}

.main__changeInfo button {
	margin-left: 10px;
	background-color: black;
	border: none;
	background-color: var(--blue);
	color: white;
	font-weight: bolder;
	border-radius: 15px;
	height: 40px;
	white-space: nowrap;
	padding: 5px 10px;
}

.main__myInfo__column input {
	width: 90%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.adminMain__row {
	height: 100px;
	margin: 10px 50px;
}

.adminMain__row__form {
	height: 100%;
}

.adminMain__row button {
	border: none;
	background-color: white;
	color: var(- -blue);
	height: inherit;
	width: 100%;
	font-weight: bolder;
	font-size: 30px;
	border-bottom: 2px solid var(--gray);
}

.reservationForm {
	width: 300px;
	margin: 10px auto;
	padding: 20px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
}

.main__reserved__row {
	display: flex;
	margin: 10px;
	border-bottom: 2px solid var(--gray);
}

.main__reserved__column:first-child {
	width: 35%;
}

.main__reserved__column:last-child {
	display: flex;
	flex-direction: column;
	width: 65%;
	padding: 10px 30px;
	line-height: 1.5;
}

.main__reserved__title {
	height: 40%;
	font-weight: bolder;
	font-size: 30px;
	border-bottom: 1px solid var(--gray);
}

.main__reserved__script {
	height: 60%;
	padding: 15px;
}

.noInformation {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 300px;
	font-size: 40px;
	color: var(--gray);
	font-weight: bolder;
}

.hiddenDiv {
	height: 50px;
}

.backBtn:hover {
	color: black;
}

.backBtn {
	background-color: white;
	white-space: nowrap;
	font-weight: bolder;
	border: none;
	color: var(--gray);
	border-radius: 15px;
	padding: 5px 10px;
	height: 40px;
	margin-bottom: 20px;
}

.mypage__div button {
	height: 100px;
	width: 100%;
	border: none;
	background-color: white;
	font-weight: bolder;
	font-size: 20px;
	color: var(--gray);
	border-bottom: 2px solid var(--gray);
	margin-top: 10px;
	text-align: left;
}

.mypage__div button:hover{
	color: black;
	border-bottom: 2px solid black;
}

#a {
	font-weight:bolder;
	display: block;
	text-align: left;
	color: var(--gray);
}

#a:hover {
	color: black;
}

.profile__img{
	border-radius: 50%;
	height: 282px;
	width: 282px;
	border: 2px solid var(--gray);
}
.profile__img:hover{
	cursor: pointer;
}


#imgForm{
	justify-content:center;
	align-items:center;
	display:flex;
	flex-direction:column;
	background-color: var(--gray);
	border-radius: 50%;
	height: 100%;
}

#imgForm input{
	border: none;
}

.main__myInfo__img:first-child{
	display:flex;
	justify-content:center;
	align-items:center;
	height: 60%;
}

.main__myInfo__img:last-child{
	height: 40%;
	display:flex;
	justify-content: center;
	padding-top: 20px;
}


.backToMain{
		color: var(--blue);
		text-decoration: none;
		font-weight: bolder;
		font-size: 30px;
	}
